/* 
===========================
google fonts 
===========================
 */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* 
 ===========================
 Base CSS
 ===========================
  */
* {
  margin: 0;
  padding: 0;
}
::after,
::before {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a,
a:hover {
  text-decoration: none;
}
/* 
 ===========================
 Reusable CSS
 ===========================
  */
img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 50px;
}
.button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 35px;
  width: fit-content;
  background-color: rgb(253, 44, 44);
  color: #fff;
  border-radius: 8px;
  text-transform: capitalize;
  border: 1px solid transparent;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
.button .icon {
  margin-left: 0px;
  transition: margin 0.3s;
}
.button:hover {
  background-color: transparent;
  color: rgb(253, 44, 44);
  border-color: rgb(253, 44, 44);
}
.button:hover .icon {
  margin-left: 7px;
}
.sidebar ul li.active {
  background-color: rgb(218, 25, 25);
}
.sidebar ul li.active a {
  color: #fff;
}
/* 
 ===========================
 HEADER PART
 ===========================
  */
.header {
  background: linear-gradient(
    338deg,
    rgba(4, 4, 11, 1) 0%,
    rgba(11, 10, 10, 1) 61%,
    rgba(16, 23, 22, 1) 100%
  );
  border-radius: 10px;
  padding: 15px 35px 0 35px;
}
.header-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.header-content {
  display: flex;
  align-items: center;
}
.header-title {
  color: #fff;
  font-size: 52px;
}
.header-sub-text {
  color: lightgray;
  font-size: 14px;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 25px;
}
/* 
 ===========================
 Blog Section
 ===========================
  */
.blog-section {
  display: grid;
  grid-template-columns: 312px 1fr;
  grid-column-gap: 25px;
  padding: 100px 0;
}
.sidebar ul {
  background: linear-gradient(
    338deg,
    rgba(4, 4, 11, 1) 0%,
    rgba(11, 10, 10, 1) 61%,
    rgba(16, 23, 22, 1) 100%
  );
  border-radius: 13px;
  padding: 30px 20px;
  text-align: center;
}
.sidebar ul li {
  padding: 10px 20px;
  background-color: #fff;
  margin-bottom: 30px;
  border-radius: 8px;
  cursor: pointer;
}

.sidebar ul li:last-child {
  margin-bottom: 0;
}
.sidebar ul li a {
  color: #131313;
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
  /* display: inline-block; */
}
/* blogs part start  */
.blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.blog {
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  transition: transform 0.3s;
}
.blog:hover {
  transform: translateY(-8px) scale(1.05);
}
.blog-img img {
  transition: transform 0.3s;
}
.blog:hover .blog-img img {
  transform: scale(0.99);
}
.blog-content {
  padding: 6px 15px 20px 15px;
}
.blog-content button {
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #161616;
  border-radius: 5px;
  padding: 2px 13px;
  font-size: 14px;
  font-weight: 500;
  color: #161616;
}
.blog-content .blog-heading {
  font-size: 16px;
  font-weight: 600;
  color: #161616;
  margin: 20px 0;
  line-height: 27px;
  cursor: pointer;
  transition: color 0.3s;
}
.blog:hover .blog-heading {
  color: rgb(218, 25, 25);
}
.blog-details {
  display: flex;
  gap: 70px;
}
.blog-details span {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgba(22, 22, 22, 0.7);
}
.blog-button .button {
  display: none;
}
/* 
 ===========================
 footer start
 ===========================
  */
.footer {
  background: linear-gradient(
    338deg,
    rgba(4, 4, 11, 1) 0%,
    rgba(11, 10, 10, 1) 61%,
    rgba(16, 23, 22, 1) 100%
  );
  padding: 100px 0;
  text-align: center;
}
.footer .container {
  padding: 0;
}
.logo {
  width: 100px;
  margin: 0 auto 15px auto;
}
.footer .divider {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
}
.footer .footer-menu ul {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 30px;
}
.footer ul li a {
  font-size: 16px;
  color: #b9b9b9;
  font-weight: 500;
  text-transform: capitalize;
  transition: color 0.3s;
}
.footer > ul li a:hover {
  color: #8b8989;
}
.social-icon ul {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}
.social-icon a {
  width: 40px;
  height: 40px;
  border: 1px solid rgb(218, 25, 25);
  background-color: rgb(253, 44, 44);
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s, background-color 0.3s;
}

.social-icon a:hover {
  color: rgb(218, 25, 25);
  background-color: transparent;
}
/* 
 ===========================
 Matches Time
 ===========================
 */
.match-section {
  display: grid;
  grid-template-columns: 312px 1fr;
  grid-column-gap: 20px;
  padding: 100px 0;
}
.upcoming-matches {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.match {
  padding: 20px;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
}
.team-image {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.team-image img {
  object-fit: cover;
}
.team-image span {
  font-weight: 600;
  color: #161616;
  font-size: 16px;
}
.match-details {
  text-align: center;
}
.team-name {
  font-size: 20px;
  color: #161616;
  font-weight: 600;
  margin-top: 25px;
}
.team-name b {
  color: rgb(218, 25, 25);
}
.match-time {
  font-size: 16px;
  color: #131313;
  font-weight: 400;
  margin-top: 15px;
}

/* 
 ===========================
 media queries
 ===========================
  */

/* mobile screen  */
@media screen and (max-width: 500px) {
  .container {
    padding: 0 10px;
  }
}
@media screen and (max-width: 688px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
  .button {
    margin: auto;
  }
  .header-section {
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    grid-row-gap: 20px;
  }
  .header-text {
    text-align: center;
  }
  .header-title {
    font-size: 36px;
  }
  .blog-section,
  .match-section {
    grid-template-columns: repeat(1, 1fr);
    padding: 30px 0;
  }
  .sidebar ul {
    background: transparent;
    padding-left: 0;
    padding-right: 0;
  }
  .sidebar ul li {
    border: 1px solid #e8e8e8;
  }
  .blogs,
  .upcoming-matches {
    grid-template-columns: repeat(1, 1fr);
  }
  .blog-content .blog-heading {
    font-size: 20px;
  }
  .footer {
    padding: 50px 0;
  }
  .footer .container {
    padding: 0 20px;
  }
  .footer .footer-menu ul {
    flex-direction: column;
  }
  .social-icon ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
}

/* 
 =========================
 Tablet responsive 
 =========================
 */
@media screen and (min-width: 688px) and (max-width: 992px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
  .header-title {
    font-size: 40px;
  }
  .blog-section,
  .match-section {
    grid-template-columns: repeat(1, 1fr);
    padding: 30px 0;
  }
  .sidebar ul {
    display: flex;
    justify-content: space-between;
    background: transparent;
  }

  .sidebar ul li {
    padding: 10px 66px;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 8px;
    margin: 0 10px;
  }
  .sidebar ul li.active {
    display: flex;
    align-items: center;
  }
  .blogs {
    grid-template-columns: repeat(2, 1fr);
  }
  .blog-button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .blog-button .button {
    display: block;
  }

  .footer .footer-menu ul {
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 30px auto;
  }
  .social-icon ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
  .upcoming-matches .sidebar ul {
    justify-content: space-between;
  }
  .upcoming-matches {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
  }
}
/* 
 =========================
 Desktop Or Laptop 
 =========================
 */
@media screen and (min-width: 993px) and (max-width: 1170px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
  .matches {
    grid-template-columns: 290px 1fr;
    /* padding: 30px 0; */
  }
  .blogs .match span img {
    width: 100%;
  }
  .matches {
    grid-template-columns: repeat(3, 1fr);
  }
  .blogs,
  .upcoming-matches {
    grid-template-columns: repeat(2, 1fr);
  }
}
